{% extends 'Base/base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <h1 class="display-3">Idolos</h1>
    <hr>
    <a class="btn btn-primary" role="button" href="{% url 'idolo_form' %}">Agregar</a>
    <hr>

    {% if not object_list %}
    <h1>No hay registro de Idolos</h1>
    <br><br><br><br><br><br><br><br>
    {% else %}
    <table class="table table-bordered">
        <thead>
            <tr>
                <td>Fotografia</td>
                <td>Rut</td>
                <td>Nombre</td>
            </tr>
        </thead>
        <tbody>
            {% for idolo in object_list %}
            <tr>
                <td><img src="{{ idolo.fotografia.url }}" style="width: 100px;" /></td>
                <td>{{ idolo.rut }}</td>
                <td>{{ idolo.nombre }}</td>
                <td>
                    <a class="btn btn-primary" href="{% url 'idolo_update' pk=idolo.pk %}">Editar</a>
                    <a class="btn btn-danger" href="{% url 'idolo_borrar' pk=idolo.pk %}">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>
{% endblock %}

